$blue: #0074d9;

.contact-header {
  width: 100%;
  padding: 9rem 4rem;
  display: flex;
  align-items: center;
  background-color: #252525;
  border-top: 1px solid rgba(221, 221, 221, 0.151);
  border-bottom: 1px solid rgba(221, 221, 221, 0.151);
  color: #fff;

  h1 {
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    color: #fff;
  }
}

.contact-section {
  width: 100%;
  margin-top: 7rem;
  position: relative;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  gap: 3rem;
  border-bottom: 2px solid rgba(221, 219, 219, 0.432);
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
  .pinphone {
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
      margin-bottom: 2rem;
    }
    .location,
    .number {
      font-size: 2rem;
      font-weight: bold;
      margin-left: 2rem;
    }
  }
}

.contact-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  .help {
    font-weight: bolder;
    margin-bottom: 3rem;
    border-bottom: 2px solid rgba(221, 219, 219, 0.432);
    display: inline-block;
    position: relative;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -2px;
      height: 2px;
      width: 6rem;
      background-color: $blue;
    }
  }
}
.inputs {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 100%;
  align-items: center;

  input {
    margin-bottom: 2rem;
    height: 4rem;
    border: none;
    background-color: transparent;
    border: 2px solid rgba(221, 219, 219, 0.432);
    padding: 0.3rem;
    font-size: 1.4rem;
    color: #fff;
    width: 70%;
    &::placeholder {
      font-size: 1.5rem;
    }
  }
}
.submit-btn {
  padding: 1rem 3rem;
  width: fit-content;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid $blue;
  cursor: pointer;
  color: #fff;
  display: grid;
  column-span: 1 / -1;
}

.contact-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  .textarea {
    max-width: 100%;
    margin-bottom: 2rem;
    border: none;
    max-height: 350px;
    background-color: transparent;
    border: 2px solid rgba(221, 219, 219, 0.432);
    padding: 0.3rem;
    position: relative;
    font-size: 1.4rem;
    color: #fff;
    resize: none;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 5rem;
      height: 4px;
      background-color: $blue;
    }
    &::placeholder {
      font-size: 1.5rem;
    }
  }
}
.submit-res {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
  .form {
    grid-template-columns: 1fr;
  }
  .contact-left {
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .submit-main {
    display: none;
  }
  .submit-res {
    display: block;
  }
  .contact-right {
    display: flex;
    align-items: center;
    justify-content: center;
    .textarea {
      min-width: 60%;
      max-width: 80%;
    }
    .contact-right {
      grid-column: auto;
    }
  }
  .contact-center {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;

    .inputs {
      align-items: center;
      margin: auto;
      input {
        max-width: 300px;
      }
    }
  }
}
