$blue: #0074d9;

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
}

.left-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    .a {
      font-size: 2rem;
      color: #fff;
      background-color: $blue;
      border-radius: 50%;
      padding: 0.8rem 1.6rem;
      font-weight: 500;
      position: relative;
      &::after {
        content: "Andrulis";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        font-weight: 300;

      }
    }
  }
}








