.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 2rem;
}

.modul {
  position: absolute;
  width: 15rem;
  background-color: rgba(221, 221, 221, 0.068);
  right: 0.5rem;
  top: 9rem;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 3;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}

.modul a {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bolder;
}

.modul.on {
  -webkit-transform: translateX(0) scale(1.05);
          transform: translateX(0) scale(1.05);
}

.left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-bar .logo .a {
  font-size: 4rem;
  color: #fff;
  background-color: #0074d9;
  border-radius: 50%;
  padding: 0.8rem 1.6rem;
  font-weight: bolder;
  position: relative;
}

.left-bar .logo .a::after {
  content: "A";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  font-weight: lighter;
  -webkit-transform: translateY(-15px) rotate(-90deg);
          transform: translateY(-15px) rotate(-90deg);
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.name-top {
  font-size: 2rem;
  margin-left: 1rem;
  color: #fff;
  position: relative;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

.name-top::after {
  content: "Andrulis";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 90%;
  bottom: -1rem;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.link {
  font-size: 1.5rem;
  list-style: none;
  padding: 0.5rem 5px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-top: 2px solid transparent;
  font-weight: 600;
  margin-right: 7rem;
}

.link:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  border-top: 2px solid #0074d9;
  color: #fff;
}

.fab.fa-linkedin-in {
  color: #ec0c35;
}

.right-bar {
  position: relative;
  display: none;
}

.hamburger-box {
  z-index: 99;
  padding: 3rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.hamburger-box .burger-btn {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hamburger-box .burger-btn .line {
  height: 0rem;
  background-color: #fff;
  width: 3rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #fff;
}

.line1 {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.line3 {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.active2 {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.active1 {
  -webkit-transform: rotate(45deg) translateY(0.3rem);
          transform: rotate(45deg) translateY(0.3rem);
}

.active3 {
  -webkit-transform: rotate(-45deg) translateY(-0.3rem);
          transform: rotate(-45deg) translateY(-0.3rem);
  z-index: 3;
}

@media only screen and (max-width: 680px) {
  .modul {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    width: 100%;
    height: 50vh;
    top: 0;
    background-color: #222;
  }
  .active1 {
    -webkit-transform: rotate(45deg) translateY(0.3rem);
            transform: rotate(45deg) translateY(0.3rem);
  }
  .active3 {
    -webkit-transform: rotate(-45deg) translateY(-0.6rem);
            transform: rotate(-45deg) translateY(-0.6rem);
    z-index: 3;
  }
}

.projects__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15rem;
  width: 100%;
}

.portfolio {
  padding: 4rem 0;
  width: 100%;
  background-color: #252525;
  border-top: 1px solid rgba(221, 221, 221, 0.151);
  border-bottom: 1px solid rgba(221, 221, 221, 0.151);
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio h1 {
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #fff;
  margin: auto;
  text-align: center;
}

.cards-wrapper {
  width: 100%;
  padding: 0 3rem;
}

.cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 350px;
  background: transparent;
  gap: 6rem;
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 0.7;
}

.card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.card1 {
  background-image: url(barbershop.png);
}

.card2 {
  background-image: url(restaurant.png);
}

.card3 {
  background-image: url(formphotos/form.png);
}

.card4 {
  background-image: url(quiz/1.png);
}

.github-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
}

.github-link a i {
  font-size: 3rem;
}

.github-link a i:hover {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .portfolio {
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio h1 {
    font-size: 5rem;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 690px) {
  .cards {
    -ms-grid-columns: 0.8fr;
        grid-template-columns: 0.8fr;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    grid-auto-rows: 300px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
  }
}

.skills-section {
  margin-top: 10rem;
  width: 100%;
  padding-bottom: 10rem;
}

.skills-section .skills-h1 {
  padding-left: 4rem;
}

.skills-section .skills-h1 h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;
  border-bottom: 2px solid;
  display: inline-block;
  position: relative;
}

.skills-section .skills-h1 h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 6rem;
  background-color: #0074d9;
}

.skill-type {
  text-align: center;
}

.skill-cards {
  width: 100%;
  color: #fff;
  padding: 4rem;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem 4rem;
  margin-top: 6rem;
}

.skill-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  position: relative;
  border-bottom: 2px solid rgba(221, 219, 219, 0.432);
}

.skill-card::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 2px;
  width: 6rem;
  background-color: #0074d9;
}

.skill-type {
  margin: auto;
}

.skill-icon {
  margin: auto 0;
  margin-right: 1rem;
}

.skill-icon img {
  width: 2.2rem;
}

@media only screen and (max-width: 900px) {
  .skills-h1 {
    padding: 1rem;
    text-align: center;
  }
  .skill-cards {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
  }
}

.contact-header {
  width: 100%;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252525;
  border-top: 1px solid rgba(221, 221, 221, 0.151);
  border-bottom: 1px solid rgba(221, 221, 221, 0.151);
  color: #fff;
}

.contact-header h1 {
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #fff;
  text-align: center;
  margin: auto;
}

.contact-section {
  width: 100%;
  margin-top: 4rem;
  position: relative;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto;
  color: #fff;
  gap: 3rem;
  border-bottom: 2px solid rgba(221, 219, 219, 0.432);
  padding: 2rem 1rem;
}

.contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-left .pinphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-left .pinphone:first-child {
  margin-bottom: 2rem;
}

.contact-left .pinphone .location,
.contact-left .pinphone .number {
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-center .help {
  font-weight: bolder;
  margin-bottom: 3rem;
  border-bottom: 2px solid rgba(221, 219, 219, 0.432);
  display: inline-block;
  position: relative;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contact-center .help::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 2px;
  width: 6rem;
  background-color: #0074d9;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
  width: 100%;
}

.inputs input {
  margin-bottom: 2rem;
  height: 4rem;
  border: none;
  background-color: transparent;
  border: 2px solid rgba(221, 219, 219, 0.432);
  padding: 0.3rem;
  font-size: 1.4rem;
  color: #fff;
  width: 70%;
}

.inputs input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

.inputs input:-ms-input-placeholder {
  font-size: 1.5rem;
}

.inputs input::-ms-input-placeholder {
  font-size: 1.5rem;
}

.inputs input::placeholder {
  font-size: 1.5rem;
}

.submit-btn {
  padding: 1rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #0074d9;
  cursor: pointer;
  color: #fff;
}

.contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: span 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-right .textarea {
  margin-bottom: 2rem;
  border: none;
  background-color: transparent;
  border: 2px solid rgba(221, 219, 219, 0.432);
  font-size: 1.4rem;
  color: #fff;
  resize: none;
  width: 50%;
}

.contact-right .textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
}

.contact-right .textarea:-ms-input-placeholder {
  font-size: 1.5rem;
}

.contact-right .textarea::-ms-input-placeholder {
  font-size: 1.5rem;
}

.contact-right .textarea::placeholder {
  font-size: 1.5rem;
}

.submit-res {
  grid-column: span 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 680px) {
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .contact-header h1 {
    text-align: center;
    font-size: 4rem;
  }
  .form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact-left,
  .contact-right,
  .contact-center {
    padding: 0;
    margin: 0;
    grid-column: span 2;
  }
  .help {
    margin: auto;
  }
  .inputs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-section {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.social-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid rgba(221, 219, 219, 0.432);
}

.social-icons ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #0074d9;
  padding: 1rem;
}

.social-icons ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons ul li:first-child {
  margin-right: 1.5rem;
}

.social-icons ul li a i {
  font-size: 2rem;
}

.bottom-msg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.think-res {
  color: #fff;
  padding: 1rem;
  font-family: cursive;
  font-size: 1.2rem;
}

.rights-msg {
  color: #fff;
  padding: 1rem;
  font-family: cursive;
  font-size: 1.2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.header {
  width: 100%;
}

.main-con {
  width: 100%;
  background-color: #222222;
  position: relative;
  overflow-x: hidden;
}

.mid-con {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 10rem;
}

.presentation-con {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.presentation-con h3 {
  font-size: 2rem;
  color: rgba(221, 219, 219, 0.432);
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.presentation-con h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.presentation-con p {
  line-height: 3rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 1rem 3rem;
  font-family: "Great Vibes", cursive;
  font-style: italic;
}

.header-btns {
  padding: 1rem 0;
}

.header-btns .btn-top {
  padding: 1rem 2.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 6rem;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header-btns .portfolio-btn {
  border: #0074d9 2px solid;
  margin-right: 1rem;
}

.header-btns .portfolio-btn:hover {
  color: #fff;
  background-color: #0074d9;
}

.header-btns .contact-btn:hover {
  background-color: #fff;
  color: #0074d9;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 45%;
  }
  body {
    padding: 0;
  }
  .main-con {
    border-radius: 0;
  }
  .presentation-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .presentation-con p {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .mid-con {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .image-con {
    min-width: 250px;
    margin: 0 auto;
  }
  .presentation-con {
    width: 100%;
  }
  .contact-right .textarea {
    width: 90%;
    padding: 0;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */